.stackpanel {
  display: flex;
  width: 100%;

  &[data-orientation="horizontal"] {
    flex-direction: row;
  }

  &[data-orientation="vertical"] {
    flex-direction: column;
    height: 100%;
  }
}
