.display {
  width: 100%;
  height: 8vh;
  padding: 20px;
  border-radius: 8px;
  text-align: right;
}

body[data-theme="theme-1"] .display {
  background-color: var(--navy-950);
  color: var(--white);
}

body[data-theme="theme-2"] .display {
  background-color: var(--gray-100);
  color: var(--gray-900);
}

body[data-theme="theme-3"] .display {
  background-color: var(--purple-900);
  color: var(--yellow-300);
}