.keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: clamp(13px, 10px + 1vw, 25px);

  background-color: var(--background-color, var(--navy-900));
  padding: clamp(24px, 20px + 1vw, 30px);
  width: 100%;

  border-radius: 8px;

  & > :nth-last-child(-n + 2) {
    grid-column: span 2;
  }

  body[data-theme="theme-1"] & {
    --background-color: var(--navy-900);
  }

  body[data-theme="theme-2"] & {
    --background-color: var(--gray-300);
  }

  body[data-theme="theme-3"] & {
    --background-color: var(--purple-900);
  }
}
