@import url("./assets/styles/index.css");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 32px;
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

input,
button {
  font: inherit;
}

body {
  --_bg: var(--bg, var(--navy-850));

  background-color: var(--_bg);

  &[data-theme="theme-1"] {
    --bg: var(--navy-850);
  }

  &[data-theme="theme-2"] {
    --bg: var(--gray-200);
  }

  &[data-theme="theme-3"] {
    --bg: var(--purple-950);
  }
}
