:root {
  --navy-700: hsl(225 21% 49%);
  --navy-750: hsl(221 14% 31%);
  --navy-800: hsl(224 28% 35%);
  --navy-850: hsl(222 26% 31%);
  --navy-900: hsl(223 31% 20%);
  --navy-950: hsl(224 36% 15%);

  --red-600: hsl(6 63% 50%);
  --red-800: hsl(6 70% 34%);

  --gray-orange-400: hsl(28 16% 65%);
  --gray-orange-450: hsl(35 11% 61%);

  --white: hsl(0 100% 100%);

  --gray-100: hsl(0 0% 93%);
  --gray-200: hsl(0 0% 90%);
  --gray-300: hsl(0 5% 81%);
  --gray-900: hsl(60 10% 19%);

  --blue-500: hsl(185 42% 37%);
  --blue-600: hsl(185 58% 25%);
  --blue-950: hsl(198 20% 13%);

  --orange-700: hsl(25 98% 40%);
  --orange-800: hsl(25 99% 27%);

  --purple-400: hsl(285 91% 52%);
  --purple-750: hsl(290 70% 36%);
  --purple-800: hsl(281 89% 26%);
  --purple-850: hsl(268 47% 21%);
  --purple-900: hsl(268 71% 12%);
  --purple-950: hsl(268 75% 9%);

  --cyan-400: hsl(177 92% 70%);
  --cyan-500: hsl(176 100% 44%);

  --yellow-300: hsl(52 100% 62%);
}
