:root {
  --navy-700: hsl(225 21% 49%);
  --navy-750: hsl(221 14% 31%);
  --navy-800: hsl(224 28% 35%);
  --navy-850: hsl(222 26% 31%);
  --navy-900: hsl(223 31% 20%);
  --navy-950: hsl(224 36% 15%);

  --red-600: hsl(6 63% 50%);
  --red-800: hsl(6 70% 34%);

  --gray-orange-400: hsl(28 16% 65%);
  --gray-orange-450: hsl(35 11% 61%);

  --white: hsl(0 100% 100%);

  --gray-100: hsl(0 0% 93%);
  --gray-200: hsl(0 0% 90%);
  --gray-300: hsl(0 5% 81%);
  --gray-900: hsl(60 10% 19%);

  --blue-500: hsl(185 42% 37%);
  --blue-600: hsl(185 58% 25%);
  --blue-950: hsl(198 20% 13%);

  --orange-700: hsl(25 98% 40%);
  --orange-800: hsl(25 99% 27%);

  --purple-400: hsl(285 91% 52%);
  --purple-750: hsl(290 70% 36%);
  --purple-800: hsl(281 89% 26%);
  --purple-850: hsl(268 47% 21%);
  --purple-900: hsl(268 71% 12%);
  --purple-950: hsl(268 75% 9%);

  --cyan-400: hsl(177 92% 70%);
  --cyan-500: hsl(176 100% 44%);

  --yellow-300: hsl(52 100% 62%);

  --background-primary: var(--background-secondary_theme-1);
  --background-secondary: var(--background-secondary_theme-1);
  --background-accent: var(--background-accent_theme-1);

  --background-key-primary: var(--background-key-primary_theme-1);
  --background-key-secondary: var(--background-key-secondary_theme-1);
  --background-key-accent: var(--background-key-accent_theme-1);

  --shadow-key-primary: var(--shadow-key-primary_theme-1);
  --shadow-key-secondary: var(--shadow-key-secondary_theme-1);
  --shadow-key-accent: var(--shadow-key-accent_theme-1);

  --text-primary: var(--text-primary_theme-1);
  --text-secondary: var(--text-secondary_theme-1);
  --text-accent: var(--text-accent_theme-1);

  /** Theme 1 */
  --background-primary_theme-1: var(--navy-850);
  --background-secondary_theme-1: var(--navy-900);
  --background-accent_theme-1: var(--navy-950);

  --background-key-primary_theme-1: var(--gray-200);
  --background-key-secondary_theme-1: var(--navy-700);
  --background-key-accent_theme-1: var(--red-600);

  --shadow-key-primary_theme-1: var(--gray-orange-400);
  --shadow-key-secondary_theme-1: var(--navy-800);
  --shadow-key-accent_theme-1: var(--red-800);

  --text-primary_theme-1: var(--navy-750);
  --text-secondary_theme-1: var(--white);
  --text-accent_theme-1: var(--navy-750);

  /** Theme 2 */
  --background-primary_theme-2: var(--gray-200);
  --background-secondary_theme-2: var(--gray-300);
  --background-accent_theme-2: var(--gray-100);

  --background-key-primary_theme-2: var(--gray-200);
  --background-key-secondary_theme-2: var(--blue-500);
  --background-key-accent_theme-2: var(--orange-700);

  --shadow-key-primary_theme-2: var(--gray-orange-400);
  --shadow-key-secondary_theme-2: var(--blue-600);
  --shadow-key-accent_theme-2: var(--orange-800);

  --text-primary_theme-2: var(--gray-900);
  --text-secondary_theme-2: var(--white);
  --text-accent_theme-2: var(--white);

  /** Theme 3 */
  --background-primary_theme-3: var(--purple-950);
  --background-secondary_theme-3: var(--purple-900);
  --background-accent_theme-3: var(--purple-900);

  --background-key-primary_theme-3: var(--purple-800);
  --background-key-secondary_theme-3: var(--purple-850);
  --background-key-accent_theme-3: var(--cyan-500);

  --shadow-key-primary_theme-3: var(--purple-400);
  --shadow-key-secondary_theme-3: var(--purple-750);
  --shadow-key-accent_theme-3: var(--cyan-400);

  --text-primary_theme-3: var(--yellow-300);
  --text-secondary_theme-3: var(--white);
  --text-accent_theme-3: var(--blue-950);
}
